<div class="main_header">
  <div class="header desktop">
    <div class="float-left logo">
      <img [src]="'../../assets/images/logo.png'">
    </div>
    <div class="float-right hdr_rightlink">
      <div class="float-right">
        <img [src]="'../../assets/images/bag.gif'">
      </div>
      <div class="float-right ">
        <img [src]="'../../assets/images/search.gif'">
      </div>
      <div class="float-right location">
        <img [src]="'../../assets/images/store.gif'">
      </div>
      <div class="float-right">
        <img [src]="'../../assets/images/account.gif'">
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-md navbar-dark nv_mobile c_navbar">
    <button class="navbar-toggler float-left" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="float-left icon search">
      <img [src]="'../../assets/images/search.gif'">
    </div>
    <div class="float-left icon logo ">
      <img [src]="'../../assets/images/logo.png'">
    </div>
    <div class="float-right icon account">
      <img [src]="'../../assets/images/account.gif'">
    </div>
    <div class="float-right icon bag">
      <img [src]="'../../assets/images/bag.gif'">
    </div>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav c_nv">
        <li class="nav-item">
          <a class="nav-link" href="#">WOMAN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MEN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">KIDS</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">ACCESSORIES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CLEARANCE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BRANDS</a>
        </li>
      </ul>
    </div>
  </nav>

  <nav class="navbar navbar-expand-md navbar-dark desktop c_navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav c_nv">
        <li class="nav-item">
          <a class="nav-link" href="#">WOMAN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MEN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">KIDS</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">ACCESSORIES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CLEARANCE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BRANDS</a>
        </li>
      </ul>
    </div>
  </nav>

</div>

<article>
  <div class="content">
    <div class="info">{{info}}</div>
  </div>
</article>
